style
	include ../dist/css/style.css
#app.tax-calculator
	input#income1(type='number')
	input#income2(type='number')
	input#children(type='number')
	input#married(type='checkbox')
	table.results
		thead
			tr
				th(colspan='4') Results
			tr
				th Value
				th Current Law
				th Clinton
				th Trump
		tbody#tax-results-body

script
	include ../dist/js/app.js