style
	include ../dist/css/style.css
#app.tax-calculator
	input#income1(type='number', value=0, onchange='app.calculate()')
	input#income2(type='number', value=0, onchange='app.calculate()')
	input#children(type='number', value=0, onchange='app.calculate()')
	input#married(type='checkbox', onchange='app.calculate()')
	table.results
		thead
			tr
				th(colspan='4') Results
			tr
				th Value
				th Current Law
				th Clinton
				th Trump
		tbody#tax-results-body

script
	include ../dist/js/app.js