.tax-calculator-table {
  border-collapse: collapse;
  width: 100%;

  &__head {
    border-bottom: 1px solid $border-color;
  }

  &__header {
    padding: 0 0 6px 6px;
  }

  &__result {
    border-left: 1px solid $border-color;
    font-family: monospace;
    padding: 5px 10px;
    text-align: right;

    &::before {
      content: '$';
    }
  }
}
