%table-cell {
  background-color: transparent;
  border: 0;
  padding: 5px 15px 7px;

  &:nth-child(odd),
  &:nth-child(even) {
    background-color: transparent;
  }

  &:hover {
    background-color: transparent;
  }
}

.tax-calculator-table {
  background-color: transparent;
  border-bottom: 0;
  border-collapse: collapse;
  width: 100%;

  &__row--highlight {
    background-color: #eee;
    font-weight: bold;
    font-size: 20px;
  }

  &__row--change {
    background-color: #ddd;
    font-weight: bold;
    font-size: 20px;
  }

  &__head {
    border-bottom: 1px solid #ccc;
  }

  &__title-text {
    background-color: transparent;
    border: 0;
    color: #333;
  }

  &__header {
    background-color: transparent;
    border: 0;
    color: #333;
    font-size: 16px;
    font-family: sans-serif;
    text-align: right;
    padding: 0 15px 5px 0;

    &:first-child {
      text-align: left;
      padding-left: 15px;
    }
  }

  .tax-wedge {
    color: blue;
  }


  &__result-row-label {
    @extend %table-cell;
    color: #333;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 10px;
    border-bottom: 1px solid #ededed;
  }

  &__result {
    @extend %table-cell;
    color: #333;
    font-family: monospace;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid #ededed;
  }
}
